﻿<div class="fixed inset-x-0 top-0 z-10 border-b border-black/5 dark:border-white/10">
    <div class="bg-white dark:bg-gray-950">
        <div class="flex h-14 items-center justify-between gap-8 px-4 sm:px-6">
            <a href="/" class="flex items-center gap-2">
                <!--Content-->
                <img src="logo.png" class="w-10" />
                <div class="text-sm/6 font-sans text-gray-950 dark:text-white dark:hover:bg-white/10">TIỆN ÍCH TÀI XẾ</div>
            </a>
            <div class="flex items-center gap-6 max-md:hidden">
                <!--Content Desktop-->
                <TopbarDesktop @rendermode="new InteractiveServerRenderMode(prerender: true)" />
            </div>
            <div class="flex items-center gap-2.5 md:hidden">
                <!--Content-->
                <TopbarMobile @rendermode="new InteractiveServerRenderMode(prerender: true)" />
            </div>
        </div>
    </div>
</div>