<button type="button" class="inline-flex items-center gap-1 rounded-full bg-gray-950/2 px-2 py-1 inset-ring inset-ring-gray-950/8 dark:bg-white/5 dark:inset-ring-white/2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="-ml-0.5 size-4 fill-gray-600 dark:fill-gray-500">
        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
    </svg>
    <kbd class="text-xs/4 hidden font-sans text-gray-500 dark:text-gray-400 [.os-macos_&amp;]:block">⌘K</kbd>
    <kbd class="text-xs/4 hidden font-sans text-gray-500 dark:text-gray-400 not-[.os-macos_&amp;]:block">Ctrl&nbsp;K</kbd>
</button>
<a class="text-sm/6 font-sans text-gray-950 dark:text-white" href="/">Trang chủ</a>
<a class="text-sm/6 font-sans text-gray-950 dark:text-white" href="/blogs">Tin tức</a>
<a class="text-sm/6 font-sans text-gray-950 dark:text-white" href="/about">Về chúng tôi</a>
<AuthorizeView>
    <Authorized>
        <a aria-label="Authentication.." href="/admin/dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
            </svg>
        </a>
    </Authorized>
</AuthorizeView>



