<div class="md:hidden">
    @* Gọi trực tiếp hàm JS bằng onclick, không cần SignalR khi gọi @onclick*@
    <button type="button"
            class="mt-2 flex items-center gap-2 rounded bg-blue-500 px-1 py-1 text-white hover:bg-blue-600"
            onclick="forceDesktopView()">
        <img width="18" src="../icons/checkerdetail/icons8-view.png" alt="..." />
        Chế độ Xem khác
    </button>
</div>

